* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color-blue: #0081ff;
    --darker-color-blue: hsl(210, 100%, 48%);
    --gray-color: #575757;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

h2 {
    font-size: 27px;
    font-family: 'Leckerli One';
    margin: 10px 0;
}

h3 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 5px 0;
}

p {
    color: #fff;
    line-height: 30px;
}

header {
    background-image: url('../img/header-bg.jpg');
}

nav {
    display: flex;
}

.--center-text {
    text-align: center;
}
.--blue-text {
    color: var(--main-color-blue);
    font-weight: inherit;
    font-family: inherit;
}

.--gray-text {
    color: var(--gray-color);
}

.--black-text {
    color: #000;
}

.wrapper {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.btn {
    border-radius: 15px;
    background: none;
    border: none;
    padding: 7px 25px;
    text-decoration: none;
    outline: none;
}
.btn:hover,
.btn:focus {
    cursor: pointer;
    outline: none;
}

.btn--black {
    background-color: #3b4374;
    color: white;
}

.btn--black:hover {
    background-color: #2a3475;
    color: white;
}

.btn--blue {
    background-color: var(--main-color-blue);
    color: #fff;
}
.btn--blue:hover {
    background-color: var(--darker-color-blue);
}
.header {
    padding-top: 0;
}
.logo {
    padding-top: 20px;
}

.nav {
    display: flex;
    margin-left: auto;
    margin-top: 0;
}

.nav__item {
    list-style: none;
    border-top: 6px solid transparent;
    margin-left: 15px;
    padding: 20px 0px;
    text-transform: uppercase;
}

.nav__item--selected {
    border-top: 6px solid var(--main-color-blue);
}

.nav__link {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

.nav__link:hover {
    color: var(--main-color-blue);
}

.header-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.header-content__name {
    margin: 30px 0 10px 0;
}
.header-content__position {
    font-size: 25px;
}
.header-content__text {
    padding-top: 30px;
    padding-bottom: 80px;
}

.header-content__image {
    transform: translateY(20%);
    width: 90%;
}

.who-we-are {
    background-color: var(--main-color-blue);
}
.who-we-are__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
    grid-gap: 40px;
}

.who-we-are__button {
    margin-top: 45px;
}

.services {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--darker-color-blue);
}

.services__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding-top: 60px;
}

.service {
    display: flex;
    padding: 20px 30px;
}

.service__icon {
    margin-right: 20px;
}
.service__title {
    margin-bottom: 10px;
    text-transform: uppercase;
}
.gallery {
    display: grid;
    grid-template-areas: 
        'img-01 img-01 img-04 img-05'
        'img-02 img-03 img-04 img-06';
    justify-items: stretch;
    align-items: stretch;
}
.gallery__gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery__gallery-item::before {
    position: absolute;
    width: 100%;
    height: 0;
    content: "";
    transition: all 0.3s;
    background-color: #0080ffc0; 
}
.gallery__gallery-item:hover::before {
    height: 100%;
}
.gallery-item__image {
    width: 100%;
    height: 100%;
}

.gallery-item__01 {
    grid-area: img-01;
}

.gallery-item__02 {
    grid-area: img-02;
}

.gallery-item__03 {
    grid-area: img-03;
}

.gallery-item__04 {
    grid-area: img-04;
}

.gallery-item__05 {
    grid-area: img-05;
}

.gallery-item__06 {
    grid-area: img-06;
}

.clients {
    background-image: url('../img/clients-background.jpg');
    background-position: top left;
}

.client__logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
    padding-top: 120px;
}
.client__logo:hover {
    cursor: pointer;
}
.client__logo-image {
    width: 100%;
} 
.blog {
    display: grid;
    grid-template-areas: 
        'blog-01 blog-01 blog-05 blog-05'
        'blog-02 blog-02 blog-05 blog-05'
        'blog-03 blog-04 blog-06 blog-06';
    grid-gap: 20px;
}
.blog__post {
    padding: 40px;
    text-align: center;
}
.blog__post:hover {
    cursor: pointer;
    opacity: 0.9;
}
.blog__post-title {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
    margin: 10px 0;
}
.blog__post01 {
    text-align: left;
    grid-area: blog-01;
    padding-left: 0;
}
.blog__post02 {
    grid-area: blog-02;
    background-color: var(--main-color-blue);
}
.blog__post03 {
    grid-area: blog-03;
    background-color: #b9b8b8;
}
.blog__post04 {
    grid-area: blog-04;
}
.blog__post04,
.blog__post05 {
    background-color: #000;
}
.blog__post05 {
    grid-area: blog-05;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog__post06 {
    background-color: #e91d62;
    grid-area: blog-06;
}

footer {
    background-image: url('../img/footer-bg.jpg');

}
.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.form__input-item {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.form__label {
    color: white;
}

.form__input,
.form__textarea {
    border-radius: 15px;
    background-color: #2b2b2b;
    border: none;
    margin-left: 20px;
    height: 34px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    color: white;
    padding: 10px 15px;
}

.form__input:focus,
.form__textarea:focus {
    border: 2px solid var(--main-color-blue);
}
.form__input-item-textarea {
    align-items: flex-start;
}
.form__textarea {
    resize: none;
    display: inline-block;
    height: 200px;
    margin-left: 10px;
}

.form__submit-btn {
    text-align: right;
}

.contact-items__contact  {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 20px 0;
}
.contact__icon-image {
    width: 50px;
}
.contact__info {
    padding-left: 40px;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

}

.social-icons__icon {
    margin: 0 20px;
    box-sizing: border-box;
}

@media (max-width: 1100px) {
    .nav {
        display: none;
    }
    .header-content {
        grid-template-columns: 1fr;
    }
    .header-content__image {
        display: none;
    }
}

@media (max-width: 1000px) {
    .blog {
        grid-template-areas: 
        'blog-01 blog-01'
        'blog-02 blog-02'
        'blog-03 blog-04'
        'blog-05 blog-05'
        'blog-06 blog-06';
        grid-gap: 10px;
    }
    
}

@media (max-width: 700px) {
    .wrapper {
        width: 90%;
    }

    h3 {
        font-size: 27px;
    }
    h2 {
        font-size: 24px;
    }

    .gallery {
        grid-template-areas: 
            'img-01 img-01'
            'img-02 img-03'
            'img-04 img-05'
            'img-04 img-06';
    }

    .services__content,
    .who-we-are__content {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .footer-content {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }


}

@media (max-width: 500px) {
    .footer-content {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .services__content {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .who-we-are__content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .client__logo-image {
        width: 90%;
    }
    .service__icon {
        text-align: center;
    }
    .service {
        flex-direction: column;
    }
    .gallery {
        grid-template-areas: 
            'img-01 img-01'
            'img-02 img-02'
            'img-03 img-03'
            'img-06 img-06'
            'img-05 img-05'
            'img-04 img-04';
    }

    .blog {
        grid-template-areas: 
        'blog-01 blog-01'
        'blog-02 blog-02'
        'blog-03 blog-03'
        'blog-04 blog-04'
        'blog-05 blog-05'
        'blog-06 blog-06';
        grid-gap: 10px;
    }
}